---
description: Welcome to Praduman's portfolio. I am a Magento developer specializing in creating custom solutions, optimizing performance, and building robust eCommerce websites. Explore my projects and skills.
meta_keywords: Magento developer, eCommerce developer, Praduman Pandey, Adobe Commerce developer, Magento custom development, Magento modules, portfolio, web developer, projects, skills, resume, personal website, responsive design, speed optimization
author: Praduman Pandey
image: assets/images/og-logo.png
---

{% include section-hero.html %}

{% include section-biodata.html %}

{% include section-portfolio.html %}

{% if site.content_enabled %}

    {% include section-work-data.html %}

    {% include section-services.html %}

    {% include section-testimonial.html %}

{% endif %}

{% include section-freelancing.html %}

{% include section-contact.html %}

{{ sitemap }}