<!-- ======================================== 
      Our Testimonial  Section Start  
========================================  -->

<section class="section section-testimonial">
    <div class="container">
        <h2 class="common-heading">Happy Clients Works</h2>
    </div>
    <div class="swiper mySwiper container">
        <div class="swiper-wrapper">
            <!-- Section start -->
            <div class="swiper-slide">
                <div class="swiper-client-msg">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, dolore temporibus? Asperiores
                        fugit culpa beatae dicta unde reprehenderit,</p>
                </div>
                <div class="swiper-client-data grid grid-two-column">
                    <figure>
                        <img src="assets/images/clients/a.jpg" alt="client review">
                    </figure>
                    <div class="client-data-details">
                        <p>rajan pandey</p>
                        <p>Entrepreneur</p>
                    </div>
                </div>
            </div>
            <!-- Section end -->
            <div class="swiper-slide">
                <div class="swiper-client-msg">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, dolore temporibus? Asperiores
                        fugit culpa beatae dicta unde reprehenderit,</p>
                </div>
                <div class="swiper-client-data grid grid-two-column">
                    <figure>
                        <img src="assets/images/clients/b.jpg" alt="client review">
                    </figure>
                    <div class="client-data-details">
                        <p>rajan pandey</p>
                        <p>Entrepreneur</p>
                    </div>
                </div>
            </div>
            <!-- Section end -->
            <div class="swiper-slide">
                <div class="swiper-client-msg">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, dolore temporibus? Asperiores
                        fugit culpa beatae dicta unde reprehenderit,</p>
                </div>
                <div class="swiper-client-data grid grid-two-column">
                    <figure>
                        <img src="assets/images/clients/c.jpg" alt="client review">
                    </figure>
                    <div class="client-data-details">
                        <p>rajan pandey</p>
                        <p>Entrepreneur</p>
                    </div>
                </div>
            </div>
            <!-- Section end -->
            <div class="swiper-slide">
                <div class="swiper-client-msg">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, dolore temporibus? Asperiores
                        fugit culpa beatae dicta unde reprehenderit,</p>
                </div>
                <div class="swiper-client-data grid grid-two-column">
                    <figure>
                        <img src="assets/images/clients/d.jpg" alt="client review">
                    </figure>
                    <div class="client-data-details">
                        <p>rajan pandey</p>
                        <p>Entrepreneur</p>
                    </div>
                </div>
            </div>
            <!-- Section end -->
            <div class="swiper-slide">
                <div class="swiper-client-msg">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, dolore temporibus? Asperiores
                        fugit culpa beatae dicta unde reprehenderit,</p>
                </div>
                <div class="swiper-client-data grid grid-two-column">
                    <figure>
                        <img src="assets/images/clients/e.jpg" alt="client review">
                    </figure>
                    <div class="client-data-details">
                        <p>rajan pandey</p>
                        <p>Entrepreneur</p>
                    </div>
                </div>
            </div>
            <!-- Section end -->
            <div class="swiper-slide">
                <div class="swiper-client-msg">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, dolore temporibus? Asperiores
                        fugit culpa beatae dicta unde reprehenderit,</p>
                </div>
                <div class="swiper-client-data grid grid-two-column">
                    <figure>
                        <img src="assets/images/clients/f.jpg" alt="client review">
                    </figure>
                    <div class="client-data-details">
                        <p>rajan pandey</p>
                        <p>Entrepreneur</p>
                    </div>
                </div>
            </div>
            <!-- Section end -->
            <div class="swiper-slide">
                <div class="swiper-client-msg">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, dolore temporibus? Asperiores
                        fugit culpa beatae dicta unde reprehenderit,</p>
                </div>
                <div class="swiper-client-data grid grid-two-column">
                    <figure>
                        <img src="assets/images/clients/g.jpg" alt="client review">
                    </figure>
                    <div class="client-data-details">
                        <p>rajan pandey</p>
                        <p>Entrepreneur</p>
                    </div>
                </div>
            </div>
            <!-- Section end -->
            <div class="swiper-slide">
                <div class="swiper-client-msg">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, dolore temporibus? Asperiores
                        fugit culpa beatae dicta unde reprehenderit,</p>
                </div>
                <div class="swiper-client-data grid grid-two-column">
                    <figure>
                        <img src="assets/images/clients/h.jpg" alt="client review">
                    </figure>
                    <div class="client-data-details">
                        <p>rajan pandey</p>
                        <p>Entrepreneur</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>