{% assign grid_class = "grid-two-column" %}
{% if page.url == '/' %}
    {% assign grid_class = "grid-one-column" %}
{% endif %}

<!-- ======================================== 
      Our Bio-data Section Start  
========================================  -->

<section class="section-biodata section" id="section-biodata">
    <div class="container grid {{ grid_class }}">
        {% if page.url != '/' %}
        <div class="bio-image">
            <!-- <img src="assets/images/biodata.jpg" alt="my bio data image"> -->
            <!-- with the lazy loading -->
            <img src="assets/images/hero.jpg" alt="my bio data image" data-src="assets/images/hero.jpg" fetchpriority="high" class="lazy-img">
        </div>
        {% endif %}

        <!-- bio right side data -->
        <div class="bio-data">
            <h2 class="common-heading">my bio-data</h2>
            <p>Magento 2 Developer with expertise in custom module creation, extension development, and theme
                customization.Focused on building scalable and efficient e-commerce platforms that support business
                growth.</p>
            <br>

            <div class="skills-container">
                <div class="skills-header">
                    <h2 class="heading">My Skills</h2>
                    <p>Here are some of my technical skills</p>
                </div>

                <div class="skills-items">
                    <div class="skill-item">
                        <img src="assets/images/skills/magento-original.svg" width="60" class="skill-icon"
                            alt="Magento">
                        <h3 class="skill-name">Magento</h3>
                    </div>

                    <div class="skill-item">
                        <img src="assets/images/skills/php-original.svg" width="60" class="skill-icon" alt="Php">
                        <h3 class="skill-name">Php</h3>
                    </div>

                    <div class="skill-item">
                        <img src="assets/images/skills/html5-original.svg" width="60" class="skill-icon" alt="HTML">
                        <h3 class="skill-name">HTML5</h3>
                    </div>
                    <div class="skill-item">
                        <img src="assets/images/skills/css3-original.svg" width="60" class="skill-icon" alt="CSS">
                        <h3 class="skill-name">CSS3</h3>
                    </div>
                    <div class="skill-item">
                        <img src="assets/images/skills/javascript-original.svg" width="60" class="skill-icon"
                            alt="JavaScript">
                        <h3 class="skill-name">JavaScript</h3>
                    </div>
                    <div class="skill-item">
                        <img src="assets/images/skills/jquery-original.svg" width="60" class="skill-icon" alt="JQuery">
                        <h3 class="skill-name">JQuery</h3>
                    </div>

                    <div class="skill-item">
                        <img src="assets/images/skills/react-original.svg" width="60" class="skill-icon" alt="React">
                        <h3 class="skill-name">React</h3>
                    </div>
                    <div class="skill-item">
                        <img src="assets/images/skills/git-original.svg" class="skill-icon" width="60" alt="Git">
                        <h3 class="skill-name">Git</h3>
                    </div>

                    {% if false %}
                    <div class="skill-item">
                        <img src="assets/images/skills/mysql-original-wordmark.svg" class="skill-icon" width="60" alt="MySql">
                        <h3 class="skill-name">MySql</h3>
                    </div>

                    <div class="skill-item">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/graphql/graphql-plain.svg" class="skill-icon" width="60" alt="MySql">
                        <h3 class="skill-name">MySql</h3>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="bio-data-btn">
                <a href="https://drive.google.com/file/d/1_GC0t7SGGK95lXe-ycKBebRxMxcJmA7z/view?usp=sharing" download
                    target="_blank" class="btn">View Resume</a>
            </div>
        </div>
    </div>
</section>