<!-- ======================================== 
      Our Services Section Start  
========================================  -->

<section class="section section-services">
<div class="container">
<h2 class="common-heading">Service Offers</h2>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem ex
    dolores tempore possimus, mollitia vero quas
</p>
</div>

<!-- services offers card -->

<div class="container grid grid-three-column">
<div class="service-box">
    <ion-icon name="desktop-sharp" class="service-icon"></ion-icon>
    <h3>Web Design</h3>
    <p>
        “It is not because things are difficult that we do not dare; it is
        because we do not dare that they are difficult.”
    </p>
</div>

<div class="service-box">
    <ion-icon name="logo-react" class="service-icon"></ion-icon>
    <h3>web development</h3>
    <p>
        “It is not because things are difficult that we do not dare; it is
        because we do not dare that they are difficult.”
    </p>
</div>

<div class="service-box">
    <ion-icon name="camera-outline" class="service-icon"></ion-icon>
    <h3>photography</h3>
    <p>
        “It is not because things are difficult that we do not dare; it is
        because we do not dare that they are difficult.”
    </p>
</div>

<div class="service-box">
    <ion-icon name="phone-portrait-sharp" class="service-icon"></ion-icon>
    <h3>Mobile Apps</h3>
    <p>
        “It is not because things are difficult that we do not dare; it is
        because we do not dare that they are difficult.”
    </p>
</div>

<div class="service-box">
    <ion-icon name="globe-sharp" class="service-icon"></ion-icon>
    <h3>apps interface</h3>
    <p>
        “It is not because things are difficult that we do not dare; it is
        because we do not dare that they are difficult.”
    </p>
</div>

<div class="service-box">
    <ion-icon name="images-sharp" class="service-icon"></ion-icon>
    <h3>graphic design</h3>
    <p>
        “It is not because things are difficult that we do not dare; it is
        because we do not dare that they are difficult.”
    </p>
</div>
</div>
</section>