<!-- ======================================== 
        Our Freelancing Section Start  
========================================  -->

<section class="section section-freelancing">
    <div class="overlay"></div>
    <div class="container">
        <h2>I am <span>available</span> for freelancing</h2>
        <p>As a dedicated Magento 2 developer, I specialize in crafting tailored e-commerce solutions that align with your unique business goals. From custom module development to optimizing platform performance, I’m ready to bring innovative ideas to life. Let’s build something extraordinary together!</p>
        <a href="./contact.html" class="btn">HIRE ME</a>
    </div>
</section>