<!-- ======================================== 
      Our portfolio Section Start  
========================================  -->

<section class="section section-portfolio" id="portfolio-section">
    <div class="container">
        <h2 class="common-heading">Latest Works</h2>
        <p>Explore some of my recent projects showcasing expertise in Magento 2 development, custom module creation, and seamless e-commerce solutions. Each project reflects my commitment to quality and innovation.</p>
    </div>

    <div class="p-btns">
        <div class="btn p-btn" data-btn-num="1">Website</div>
        <div class="btn p-btn" data-btn-num="2">Youtube</div>
        <div class="btn p-btn" data-btn-num="3">Design</div>
    </div>

    <div class="container grid grid-three-column portfolio-images">
        <div class="img-overlay p-btn--1">
            <img src="assets/images/folio/1.jpg" alt="my works" />
            <div class="overlay">
                <a href="http://charcounter.thapaonlineclass.com/" target="_thapa" class="common-heading">Project 1</a>
            </div>
        </div>

        <div class="img-overlay p-btn--3">
            <img src="assets/images/folio/4.jpg" alt="my works" />
            <div class="overlay">
                <a href="http://charcounter.thapaonlineclass.com/" target="_thapa" class="common-heading">Project 2</a>
            </div>
        </div>

        <div class="img-overlay p-btn--1">
            <img src="assets/images/folio/3.jpg" alt="portfolio images " />
            <div class="overlay">
                <a href="#" target="_blank" class="common-heading">Project 3</a>
            </div>
        </div>
        <div class="img-overlay p-btn--1 p-btn--2">
            <img src="assets/images/folio/4.jpg" alt="portfolio images " />
            <div class="overlay">
                <a href="#" target="_blank" class="common-heading">Project 4</a>
            </div>
        </div>
        <div class="img-overlay p-btn--2">
            <img src="assets/images/folio/5.jpg" alt="portfolio images " />
            <div class="overlay">
                <a href="#" target="_blank" class="common-heading">Project 5</a>
            </div>
        </div>
        <div class="img-overlay p-btn--1">
            <img src="assets/images/folio/1.jpg" alt="portfolio images " />
            <div class="overlay">
                <a href="#" target="_blank" class="common-heading">Project 6</a>
            </div>
        </div>
    </div>
</section>