<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  {% if page.meta_keywords %}
  <meta name="keywords" content="{{ page.meta_keywords }}">
  {% endif %}

  {% include head-custom.html %}

  {% if page.url == '/' and site.content_enabled %}
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  {% endif %}

  {% if false %}
    <link rel="stylesheet" href="{{ '/assets/lib/fontawesome/css/fontawesome.min.css' | relative_url }}" />
  {% endif %}

  {% if page.url == '/' %}
  <link rel="preload" href="{{ 'assets/images/webp/hero.webp' | relative_url }}" as="image" type="image/webp">
  {% endif %}

  <link rel="preload" href="{{ '/assets/fonts/poppins/poppins-v23-latin-700.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ '/assets/fonts/work-sans/work-sans-v23-latin-500.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ '/assets/fonts/work-sans/work-sans-v23-latin-regular.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <script defer src="{{ '/assets/js/index.js' | relative_url }}"></script>
</head>

<body {% if page.url=='/' %} class="home" {% endif %}>
  {% if false %}
  <a id="skip-to-content" href="#content">Skip to the content.</a>
  {% endif %}

  {% include navigation.html %}

  {{ content }}

  {% include footer.html %}

  <!-- ======================================== 
        Our javacript Section Start  
  ========================================  -->

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  {% if page.url == '/' and site.content_enabled %}
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  {% endif %}
</body>

</html>